/* CSS Reset */
* { margin: 0; padding: 0; box-sizing: border-box }

body{
    background-color: #F4F2E9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin: 2vh 0 2vh;
}
header h1{
    font-size: 40px;
}

h2{
    text-align: center;
}

#form-section{
    margin: 2vh 0 2vh;
}

form {
    width: 20vw;
}

.form{
    margin-top: 1vh;
    display: flex;
    place-items: center;
    justify-content: space-between;
}

label{
    min-width: 100px;
}

#read-input {
    margin-right: 10vw;
   
}

#add-input{
    padding: 0 10px;
}

.separator {
    height: 2px;
    width: 90%;
    background-color: black;
}

#books-display{
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: rgb(155, 115, 30);
    border: solid 2px black;
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-right: 14px;
    margin-left: 15px;
    margin-bottom: 20px;
}